html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 60px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #262626;
}

/* processing */
#processing hr {
  margin-top: 10px;
}

/* contact */
form input#name,
form input#email {
  width: 50%;
}
form textarea#message {
  width: 70%;
  height: 100px;
}


/* home */
#welcome_vid {
  height: 250px;
}
#welcome_container {
  margin-top: 50px;
}
#news h2, h3 {
  margin-top: 0;
}