{% extends "layout.html" %}

{% block content %}
	<div class="container">
		<div class="page-header">
		  <h1>About</h1>
		</div>
		
		<h2>Brief: </h2>
		<p>Sea Resources Marine Products Ltd is a sister company of Sea Resources Group under
		the umbrella of Rangs Family. Rangs family has 52 companies where sea resources group
		consisting 13 companies. Sea Resources Group consist largest industrial fishing fleet 
		in Bangladesh. There are 19 fishing trawlers under five companies. Among them, 11 are
		mid water fin fish trawlers and 8 are shrimp trawlers.</p>
		
		<h2>Mission: </h2>
		<ul>
			<li>To process and export ready to cook and ready to eat raw,  block, IQF, cooked, value added shrimps</li>
			<li>To process and export ready to eat raw,  steak, block, fillet, value added fish</li>
			<li>To process and export ready to eat can products</li>
			<li>To process and export cuttle fish and  squid</li>
			<li>To produce and sale minimum 30% products for domestic market</li>
		</ul>
	</div>
{% endblock %}