{% extends "layout.html" %}
{% block content %}
	<section class="container" id="processing">
		<h1 class="page-header">Processing</h1>

		<article>
			<h3>Raw Materials</h3>
			<p>Sea Fishers Ltd, Incorporated: 1982 own 8 shrimp trawlers engaged in deep sea fishing in the Bay of Bengal. The group has established other ancillary enterprises like, two cold storages with several chambers, two Jetties to accommodate berthing of all trawlers of the fleet, full fledged radio facility for undisturbed communication with trawlers, a modern marine workshop for emergency and regular repair works, a shipyard with docking and engineering facilities, base office with all facilities and two rest houses and overseas office in Tokyo engaged in auction market of our product. The group has also established a joint venture with Danish partner for production of trawls and other equipments for fishing trawlers.</p>
		</article>

		<hr>
		
		<article>
			<h3>Quality Control</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>

		<hr>

		<article>
			<h3>Food Safety</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>
	</section>
{% endblock %}