{% extends "layout.html" %}
 
{% block content %}
	<div class="container">
	  <h2>Products</h2>            
	  <div class="row">
		<div class="col-md-4">
		  <a href="../static/images/fish.JPG" class="thumbnail">
			<p>Fish</p>    
			<img src="../static/images/fish.JPG" alt="Fish" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/shrimp.jpg" class="thumbnail">
			<p>Shrimp</p>
			<img src="../static/images/shrimp.jpg" alt="Shrimp" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="http://placekitten.com/g/150/150" class="thumbnail">
			<p>Kitty</p>
			<img src="http://placekitten.com/g/150/150" alt="Kitty" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="http://lorempixel.com/150/150" class="thumbnail">
			<p>LoremPixum #1</p>
			<img src="http://lorempixel.com/150/150" alt="LoremPixum" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="http://lorempixel.com/150/150" class="thumbnail">
			<p>LoremPixum #2</p>
			<img src="http://lorempixel.com/150/150" alt="LoremPixum" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="http://lorempixel.com/150/150" class="thumbnail">
			<p>LoremPixum #3</p>
			<img src="http://lorempixel.com/150/150" alt="LoremPixum" style="width:150px;height:150px">
		  </a>
		</div>
	  </div>
	</div>
{% endblock %}