{% extends "layout.html" %}
 
{% block content %}
	<div class="container">
	  <h2>Products</h2>            
	  <div class="row">
		<div class="col-md-4">
		  <a href="../static/images/products/1.jpg" class="thumbnail">
			<p>Crab</p>    
			<img src="../static/images/products/1.jpg" alt="Crab" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/2.jpg" class="thumbnail">
			<p>Whole Crab</p>
			<img src="../static/images/products/2.jpg" alt="Whole Crab" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/3.jpg" class="thumbnail">
			<p>Fish Fillet</p>
			<img src="../static/images/products/3.jpg" alt="Fish Fillet" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/4.jpg" class="thumbnail">
			<p>Fish Roll</p>
			<img src="../static/images/products/4.jpg" alt="Fish Roll" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/5.jpg" class="thumbnail">
			<p>Fish Shashlik</p>
			<img src="../static/images/products/5.jpg" alt="Fish Saslic" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/6.jpg" class="thumbnail">
			<p>Fish Steak</p>
			<img src="../static/images/products/6.jpg" alt="Fish Steak" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/8.jpg" class="thumbnail">
			<p>Shrimp</p>
			<img src="../static/images/products/8.jpg" alt="Shrimp" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/9.jpg" class="thumbnail">
			<p>Processed Fishes</p>
			<img src="../static/images/products/9.jpg" alt="Processed Fishes" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/10.jpg" class="thumbnail">
			<p>Shrimp Butterfly</p>
			<img src="../static/images/products/10.jpg" alt="Shrimp Butterfly" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/11.jpg" class="thumbnail">
			<p>Shrimp Head On</p>
			<img src="../static/images/products/11.jpg" alt="Shrimp Head On" style="width:150px;height:150px">
		  </a>
		</div>
		<div class="col-md-4">
		  <a href="../static/images/products/12.jpg" class="thumbnail">
			<p>Shrimp Headless</p>
			<img src="../static/images/products/12.jpg" alt="Shrimp Headless" style="width:150px;height:150px">
		  </a>
		</div>
	  </div>
	</div>
{% endblock %}